doctype html
html
  meta(charset="utf-8")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/css/bootstrap-grid.min.css')
    link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery-3.4.1.slim.min.js")
    script(src="/javascripts/js/popper.min.js")
    script(src="/javascripts/js/bootstrap.min.js")
    script(src="/javascripts/script.js")
  body
    block content
